<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shipwrech Look up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <div style="user-select: none;">
            <h1>Shipwrech Look up</h1>
            <p>
                Note: This is a<strong> WIP project</strong>, at this time use anything
                for username and password to login.
            </p>
            <p>Have Fun!</p>
        </div>
        <div class="login-container">
            <h2>Login</h2>
            <form action="/echo_user_input" method="POST">
                <input name="user_input" placeholder="UserName" required>
                <input type="password" name="user_password" placeholder="Password" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>